{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur TRICO.COM !</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">voire nos produits </a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos t-shirt stars </h2>
        <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                t-shert rouge, <strong>1000.00&dinar;</strong> <br>
                                <small>pas encore notè</small>
                            </div>
                            <img src="http://placehold.it/1000x400" alt="image" style="height: 200px;width: 100%;display: block">
                            <div class="card-body">
                                <h4 class="card-title">
                                    t-shirt de ouf !
                                </h4>
                                <p class="card-text">
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                </p>
                                <a href="#" class="btn btn-primary">
                                    En savoir plus !
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <h2 class="h1 mt-3 mb-4" >les mieux notè</h2>
        <div class="row">
            <div class="col">
                <div>
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Bilel Ben</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="acatar de bill ben" class="float-left mr-3"  >
                                <p>
                                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                                </p>
                                <a href="#" class="btn btn-primary btn-sm float-right">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Bilel Ben</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="acatar de bill ben" class="float-left mr-3"  >
                                <p>
                                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                                </p>
                                <a href="#" class="btn btn-primary btn-sm float-right">
                                    En savoir plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
