{% extends 'base.html.twig' %}
{% block title %}modification de mot de pass{% endblock %}
{% block body %}
<div class="container">
    <h1>MODIFICATION DE MOT DE PASS</h1>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier le mot de pass</button>
    {{ form_end(form)}}
</div>
{% endblock %}
{% block javascripts %}{% endblock %}