{% extends 'base.html.twig' %}

{% block title %}Edit Color{% endblock %}

{% block body %}
    <h1>Edit Color</h1>

    {{ include('color/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('color_index') }}">back to list</a>

    {{ include('color/_delete_form.html.twig') }}
{% endblock %}
