{% extends 'base.html.twig' %}

{% block title %}New Color{% endblock %}

{% block body %}
    <h1>Create new Color</h1>

    {{ include('color/_form.html.twig') }}

    <a href="{{ path('color_index') }}">back to list</a>
{% endblock %}
